@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Montreal";
  src: url('./assets/fonts/neue-montreal/NeueMontreal-Regular.otf') format(opentype);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url('./assets/fonts/neue-montreal/NeueMontreal-Bold.otf') format(opentype);
  font-weight: 800;
  font-display: swap;
}

:root {
  min-width: 280px;
  --black-gradient: linear-gradient(144.39deg,
      #cccccc -278.56%,
      #1e2d3f -78.47%,
      #0c1219 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}



.bg__gradient {
  background: linear-gradient(180deg, #0d131a 22.71%, #0f1519 100%);
}

.nav-bg__gradient {
  background: linear-gradient(180deg, #0f1519 22.71%, #0d131a 100%);
}

.cta__bg-gradient {
  background: linear-gradient(189deg, #0f1519 0%, #06111C 100%);
}

.bg-black-gradient {
  background: linear-gradient(144.39deg,
      #0f1519 28.56%,
      #071322 91.61%);
}

.bg-black-gradient-2 {
  background: linear-gradient(-168.39deg,
      #11303a 0%,
      #070a0c 100%);
}

.bg-gray-gradient {
  background: linear-gradient(153.47deg,
      rgba(255, 255, 255, 0) -341.94%,
      #14101d 95.11%);
}
.discount__gradient-blur {
  background: #05F6FA;
  filter: blur(30px);
  opacity: 0.95;
}

.bg-discount-gradient {
  background: linear-gradient(125deg, rgba(51, 187, 207, 0.43) 0%, rgba(37, 59, 128, 0.69) 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.safe {
  -webkit-animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.stats {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.5s;
}

@-webkit-keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}


.card__blur {
  width: 12rem;
  height: 5rem;
  flex-shrink: 1;
  border-radius: 20px;
  /* border: 1px solid rgba(92, 92, 92, 0.50); */
  background: linear-gradient(111deg, rgba(212, 212, 212, 0.201) 0%, rgba(0, 0, 0, 0.007) 100%);
  backdrop-filter: blur(4px);
  border: 1px solid #5c5c5c46;
}

.button__style {
  border-radius: 1.5rem;
  background: linear-gradient(217deg, #59c8cb 10%, rgb(5, 75, 107) 90%);
  box-shadow: -8px -8px 16px 0px #435c6b35, 8px 8px 16px 0px #040607f5;
}



@layer utilities {

  .box-shadow-10 {
    box-shadow: -8px -8px 16px 0px #39556725, 5px 3px 16px 0px #040607f5;
    border-radius: 10px;
  }

  .box-shadow-15 {
    box-shadow: -8px -8px 16px 0px #39556734, 8px 8px 16px 0px #040607f5;
    border-radius: 15px;
  }

  .box-shadow-20 {
    box-shadow: -8px -8px 16px 0px #182228, 8px 8px 16px 0px #040607;
    border-radius: 20px;
  }

  .box-shadow-30 {
    box-shadow: -8px -8px 16px 0px #1822287a, 8px 8px 16px 0px #040607;
    border-radius: 30px;
  }

  .box-shadow-40 {
    box-shadow: -8px -8px 16px 0px #1822287a, 8px 8px 16px 0px #040607;
    border-radius: 40px;
  }

  .box-shadow-50 {
    box-shadow: -8px -8px 16px 0px #1822287a, 8px 8px 16px 0px #040607;
    border-radius: 50px;
  }

  .box-shadow-70 {
    box-shadow: -8px -8px 16px 0px #1822287a, 8px 8px 16px 0px #040607;
    border-radius: 70px;
  }
}


@media (max-width: 426px) {
  .screenshots {
    box-shadow: none;
    @apply box-shadow-40
  }
}

@media (min-width: 426px) {
  .screenshots {
    box-shadow: none;
    @apply box-shadow-30
  }
}




@media (max-width: 426px) {
  .stores {
    box-shadow: none;
    @apply box-shadow-30
  }
}

@media (min-width: 767px) {
  .stores {
    box-shadow: none;
    @apply box-shadow-10
  }
}



@media only screen and (min-width: 427px) and (max-width: 766px) {
  .stores {
    box-shadow: none;
    @apply box-shadow-40
  }

  .screenshots {
    box-shadow: none;
    @apply box-shadow-70
  }
}


.animate {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}